<div class="todo-item <%= todo_item.completed? ? 'completed' : '' %>">
  <div class="info">
    <p>
      <!-- NOTE: button-ID attribute is used to generate the correct MAP using Gon. -->
      <!-- 1 LESS the id number in order to get the correct ARRAY object at gon.todo_items -->
      <button type="button" class="display-map" id="<%= todo_item.id - 1 %>">View on Map</button>
      <h3>Todo Item: <%= todo_item.name %></h3>
    </p>

    <p>Location: <%= todo_item.location if todo_item.location %></p>
    <p>Latitude: <%= todo_item.latitude if todo_item.latitude %></p>
    <p>Longitude: <%= todo_item.longitude if todo_item.longitude %></p>
    <p>Destination ID: <%= todo_item.destination_id %></p>
    <p>Destination Name: <%= todo_item.destinations.name %></p>

    <p><b>Completed?</b>: <%= todo_item.completed? ? "Completed!" : "Still on bucket list" %></p>
    <p><b>Posted:</b> <%= distance_of_time_in_words(Time.now, todo_item.created_at) %> ago</p>
    <p>
      <% if todo_item.comments.first%>
        <% todo_item.comments.each do |comment|%>
          <p class="comments"> 
            <span>CommentID</span><%= comment.id %>: "<%= comment.body %>"
            <%= button_to "delete", comment, :method=>:delete, :class=>:delete %>
          </p>

          <br>

        <% end %>
      <% else %>
        No comments yet.
      <% end %>
    </p>
  </div>
  <div class="button button-item<%= todo_item.id %>">CLICK HERE for Comments Dropdown</div>
  <%= render :partial => 'comments/form', :locals => { :item => todo_item } %>
</div> 



