<div class="todo-item <%= todo_item.completed? ? 'completed' : '' %>">
  <div class="info">
    <p>
      <button type="button" class="display-map">View on Map</button>
      <h3>Todo Item: <%= todo_item.name %></h3>
    </p>
    <p><b>Completed?</b>: <%= todo_item.completed? ? "Completed!" : "Still on bucket list" %></p>
    <p><b>Posted:</b> <%= distance_of_time_in_words(Time.now, todo_item.created_at) %> ago</p>
    <p>
      <% if todo_item.comments.first%>
        <% todo_item.comments.each do |comment|%>
          <p class="comments"> 
            <span>CommentID</span><%= comment.id %>: <%= comment.body %>
            <%= button_to "delete", comment, :method=>:delete, :class=>:delete %>
          </p>

          <br>

        <% end %>
      <% else %>
        No comments yet.
      <% end %>
    </p>
  </div>
  <div class="button button-item<%= todo_item.id %>">CLICK HERE for Comments Dropdown</div>
  <%= render :partial => 'comments/form', :locals => { :item => todo_item } %>
</div> 



